.taskCard {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.acceptedCard {
    background: #52c41a !important;
    border-color: #52c41a;
}


.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin-inline-end: 40px;
}

.taskTitle {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 8px;
}

.taskReward {
    font-size: 20px;
    font-weight: 600;
}

.buttons {
    display: flex;
    gap: 16px;
}