.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}

.card {
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    border-bottom: 2px solid #f0f0f0;
}

.endButton {
    text-align: center;
    margin-block-start: 30px;
}