.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.centerSection {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-inline-start: 3%;
}

.menuButton {
    border: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}