.employerCard {
    width: 100%;
    border-radius: 50px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.buttons {
    display: flex;
    gap: 16px;
}